p, h1, h2, h3, h4, h5, h6, strong, span, div{
    font-family: 'Open Sans', sans-serif;
}
.heading{
    font-family: paragraph;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
}
.right-section form {
margin: 0px 65px 0px 0px;
}
.banner {
    padding: 20px 0;
}
.navigation{
    background: #444;
    margin: 10px 0 0;
}
.navigation ul li a{
    color: oldlace;
    text-decoration: none;
    display: block;
    font-family: paragraph;
    font-size: 15px;
    letter-spacing: 1px;
}

.navigation ul li a:hover{
    color: black;
    background: orange;
}

.fullwidth_back{
    background: #fffcf9;
    margin: 0px 0 10px;
    padding: 20px 0;
}

.footer{
    background: #444;
    margin: 10px 0 0;
    padding: 10px 0 0;
    font-size: 13px;
    font-family: paragraph;
}
.footer p{
    color: oldlace;
    display: block;
    font-family: paragraph;
}
.footer p a{
    color: orange;
    text-decoration: none;
    font-family: paragraph;
    font-size: 13px;
    letter-spacing: 1px;
}
/*---------------------------Home page---------------------*/

header .navbar{
    margin-bottom: 0;
}
.homejambo sup {
  font-size: 19px;
}

.stickyNav {
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}

.btn-primary{
    background-color: #0027a2;
}
.loginformarea {
    margin-top: 80px;
}
.loginform {
    background: #505a75 none repeat scroll 0 0;
    padding: 20px;
}
.loginform form {
    margin-top: 15px;
}
.loginform form a {
    color: #fff;
    display: block;
    margin-left: 202px;
    margin-top: 2px;
}


.singoupform {
    background: #dcdcdc none repeat scroll 0 0;
    display: block;
    padding: 15px;
    position: relative;
}
.singoupform > h2 {
    border-bottom: 1px solid #fff;
    display: block;
    margin: 0 0 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}


.homejambo {
    padding: 20px;
    position: relative;
    text-align: center;
}
.homejambo > h1 {
    color: #0027a2;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}
.homejambo h4 {
    font-size: 26px;
    padding: 32px;
}

.pagetitle {
    display: block;
    padding: 30px;
    text-align: center;
}
.pagetitle > h2 {
    font-size: 62px;
}
#aboutus .prob , #aboutus .solve{
  font-size: 24px;
}
#aboutus .solve {
  background: #0027a2 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 24px;
  padding: 20px 40px;
}
#aboutus h1 {
  font-weight: bold;
}
.prob .fa {
    transform: rotate(45deg);
}
.prob p {
  margin-left: 40px;
}
.prob > h3, .solve h3 {
  font-weight: bold;
  font-size: 30px;
}
#digotalassets, #featurs, #contact {
  margin-top: 100px;
}
.assetsboxoutter {
  background: #0027a2 none repeat scroll 0 0;
  border: 3px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 25px 25px 40px;
  text-align: center;
}

.assetsinner {
  background: #4d4d4d none repeat scroll 0 0;
  color: #fff;
  display: block;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
}
.assetsinner  h3 {
  font-size: 24px;
  letter-spacing: 13px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.raspimage {
  overflow: hidden;
}
.raspimage .col-sm-4 {
  text-align: center;
}
.raspimage img {
  display: block;
  
  margin:auto;
}
#digotalassets h2 sup {
  font-size: 20px;
  left: -11px;
  top: -17px;
}
.assetsboxinner > h3 {
  font-size: 40px;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.raspimage > img {
  margin-left: 40px;
  width: 300px;
}
.featureboxinner > h3 {
    background: #0027a2 none repeat scroll 0 0;
    color: #fff;
    border-bottom:3px solid #fff; 
    display: block;
    padding: 15px;
    text-align: center;
}
.featureinner {
margin-left: -20px;
margin-right: -20px;
}
.raspinner {
  border: 3px solid #4d4d4d;
}
.raspinner h2 {
  background: #ddd none repeat scroll 0 0;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  padding: 13px;
  text-align: center;
}
.arrow1 , .arrow2{
  left: 20px;
  position: absolute;
  top: 6px;
  width: 367px;
}
.arrow2 {
  left: 782px;
}

.bootomimage > img {
  width: 100%;
}
.bootomimage {
  font-size: 24px;
  text-align: center;
}
.featureboxinner{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9e9e9e+0,efefef+100 */
background: #9e9e9e; /* Old browsers */
background: -moz-linear-gradient(top, #9e9e9e 0%, #efefef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9e9e9e 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9e9e9e 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

}

.ficon {
    display: block;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
.featureboxinner > p {
  font-size: 18px;
  padding: 15px 60px;
  text-align: center;
}

.left-section {
  background: 
#0027a2 none repeat scroll 0 0;
  color: #fff;
  padding: 50px;
  height: 450px;
}
.copyright {
  margin-top: 80px;
}
.right-section {
  background: #4d4d4d none repeat scroll 0 0;
  color: #fff;
  float: right;
  padding: 50px;
  height: 450px;
}
.address{
    margin-top: 50px;
}
.address p{
    margin:0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .homejambo{
      background-color: 
    }
}

@media( max-width : 768px ){
.loginform .form-group {
  margin-bottom: 15px;
  margin-left: 2px;
}
.loginform .btn{

  display: block;
}
.loginform form a{
   margin-left:0px;
   text-align: left;
}

.homejambo h4{

  padding: 20px;
  font-size:20px;
}
.homejambo sup{
 font-size:5px; 
}
.assetsinner h3 {
font-size: 24px;
letter-spacing: 9px;
}
.arrow1, .arrow2 {
left: 20px;
top: 18px;
width: 193px;
}
.arrow2 {
left: 530px;
}
.assetsboxinner > h3 {
letter-spacing: 0px;
font-size: 28px;
}
.assetsboxinner strong{
font-size: 12px;
}
.raspinner h2 {
font-size: 22px;}
#digotalassets h2 sup {
font-size: 14px;}
.featureboxinner > h3 {
padding: 10px;
font-size: 20px;
}
.featureboxinner > p {
font-size: 15px;
padding: 0px 12px 15px;
}

}
@media all and (max-width: 480px) { 
.bootomimage strong{

}
.featureboxinner > p {
font-size: 15px;
padding: 0px 12px 15px;
}
.featureboxinner > h3 {
padding: 10px;
font-size: 20px;
}
.arrow1, .arrow2 {
display: none;
}
#aboutus .solve {
font-size: 20px;
padding: 20px 15px;
}
.assetsboxoutter{ margin-bottom:20px;}
.raspinner h2 {
font-size: 18px;}
#digotalassets h2 sup {
font-size: 12px;
top: -10px;
}
}


#team img {
    border:1px solid #EBEBEB;
	padding:10px;
	background-color:#F5F5F5;
}

#team h4 {
	color:#555555;
	font-size:20px;
	font-weight:300;
	margin:0 0 5px;
	font-family:'Open Sans', Verdana, Geneva, sans-serif;
	background-color:#EBEBEB;
	padding:15px;
}

#team span {
	font-size:12px;
	font-weight:bold;
	margin:10px 10px 5px;
	display:block;
}

#team p {
	color:#777777;
	font-size:13px;
	min-height:70px;
	padding:0 10px 10px;
}
#team .team-member {
	box-shadow:0 1px 5px 0 rgba(0,0,0,0.15);
}

#team .team-member .overlay-wrapper2 {
	position:relative;
	background-color:#F5F5F5;
}
	
#team .team-member .overlay-wrapper2 .overlay {
    background-color:rgba(0, 0, 0, 0.7);
	top:10px;
    left:0;
    display:none;
    position:absolute;
    right:0;
	height:15%;
	padding:0;
	margin:0 11px;
	text-align:center;
}

#team .team-member .overlay-wrapper2 .overlay i {
	font-size:18px;
	color:rgba(255, 255, 255, 0.8);
	display:inline-block;
	padding:10px 15px 0;
}

#team .team-member .overlay-wrapper2 .overlay i:hover {
	color:rgba(255, 255, 255, 1);
}